@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@800&family=Roboto:ital,wght@1,300&display=swap');

/* main structure */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
    color: #333333;
}

h1,
h2 {
    font-family: League Spartan, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#logo {
    font-size: 45px;
    font-weight: 300;
    color: #c695a8;
    margin: 20px;
    padding: 20px;
    float: left;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

/* heading and nav */

#nav-menu {
    font-size: large;
    letter-spacing: 3px;
}

#nav-menu,
#logo {
    line-height: 20px;
    padding-left: 30px;
    display: inline;
}

#nav-menu a {
    color: #333;
    text-decoration: none;
    transition: color 0.5s;
}

#nav-menu li {
    list-style-type: none;
    float: right;
    margin: 30px;
    padding: 10px;
    background-color: #fff;
    border-radius: 30px;
}

#nav-menu a:hover {
    border-bottom: 1px solid #c695a8;
    color: #c695a8;
}

.current {
    border-bottom: 1px solid #333333;
}

/* hero cover */

#hero-image {
    height: 675px;
    width: 100%;
    background-image: url(../images/hero-image.jpg);
    background-size: cover;
    background-position: center bottom;
    position: absolute;
    z-index: -1;
    animation: zoom-in 3s ease-in-out;
}

/* animation hero image */

@keyframes zoom-in {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

#hero-section {
    height: 675px;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-top: -50px;
}

.hero-box {
    position: absolute;
    margin-top: 300px;
    right: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

.hero-box h2 {
    color: #c695a8;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 3px;
}

/* explore section */

#yoga-explore {
    width: 100%;
    height: auto;
    background-color: #fcfcfc;
    padding: 50px 0;
}

.yoga-box {
    width: 50%;
    margin: 50% 50% 0;
    color: #333;
    text-align: center;
    display: inline;
    vertical-align: top;
    background-color: #fcfcfc;
}

.yoga-box h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #c695a8;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.yoga-box h4 {
    font-size: 18px;
    margin-bottom: 20px;
    color: #333333;
}

.yoga-box a {
    height: 15px;
    width: 60px;
    display: block;
    text-decoration: none;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #c695a8;
    color: #fcfcfc;
    font-size: 20px;
    font-family: League Spartan, sans-serif;
    cursor: pointer;
}


/* about us section */

#about-us {
    background-color: #fcfcfc;
    padding: 30px 0 50px;
}

#about-us h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #c695a8;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#about-us h4 {
    font-size: 18px;
    margin: 20px 20px 20px 25%;
    line-height: 1.5;
    max-width: 800px;
}

#about-us a {
    height: 15px;
    width: 85px;
    display: block;
    text-decoration: none;
    margin: 0 auto;
    padding: 10px 24px;
    background-color: #c695a8;
    color: #fcfcfc;
    font-size: 20px;
    font-family: League Spartan, sans-serif;
    cursor: pointer;
}

/* footer media links and contact us */

footer {
    height: 200px;
    background-color: #c695a8;
}

.social-media {
    text-align: center;
}

.social-media>li {
    display: inline;
}

.social-media>li>a:hover {
    opacity: 0.8;
    transform: scale(1.1);
}

.social-media i {
    font-size: 40px;
    padding-top: 5px;
    margin: 1%;
    color: #333;
}

#contact-us {
    text-align: center;
    margin-top: 30px;
    padding-top: 20px;
}

#contact-us h3 {
    font-size: 35px;
    font-family: League Spartan, sans-serif;
}

#contact-us p {
    font-size: 20px;
    margin-top: 5px;
}

/* yoga poses page */

#yoga-poses {
    width: 80%;
    margin: 0 auto 20px;
    overflow: hidden;
    text-align: center;
}

#yoga-poses h1 {
    font-size: 30px;
    padding: 20px 0 30px;
    color: #c695a8;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}


.pose {
    display: inline-block;
    align-items: center;
    margin-bottom: 30px;
    padding-bottom: 20px;
}

.pose img {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 5%;
}

.pose img:hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.pose h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #c695a8;
}

.pose h3 {
    text-align: start;
    line-height: 1.5;
}

.pose ol {
    max-width: 600px;
    padding-top: 10px;
    text-align: left;
    line-height: 1.5;
    font-weight: bold;
}

hr {
    border-top: 2px dotted #c695a8;
    margin-bottom: 60px;
}

/* sign up form */

.form-sec {
    background-image: url(../images/subscribe-image.jpg);
    background-size: cover;
    background-position: center;
    height: 1000px;
    margin-top: 85px;
}

.sign-up {
    margin: 250px 150px;
    max-width: 600px;
    padding: 20px;
    display: inline-block;
    background-color: rgba(198, 149, 168, 0.8)
}

.sign-up h2 {
    font-size: 25px;
    color: #333333;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.form-text {
    display: block;
    width: 100%;
    height: 25px;
    margin: 0 0 15px;
    color: #fcfcfc;
    background: transparent;
    border: 1px solid #333;
    border-radius: 5px;
    font-weight: bold;
}

label {
    font-size: 18px;
    color: #333;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding-bottom: 20px;
}

.sign-up-button {
    background-color: #fcfcfc;
    padding: 10px 30px;
    text-align: center;
    font-size: large;
    border-radius: 8px;
    font-family: League Spartan, sans-serif;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    transition: background-color 0.4s ease;
}

.sign-up-button:hover {
    background-color: rgba(rgb(198, 149, 168) 1);
    color: #333333;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

/* media queries */
@media screen and (max-width: 1500px){
        #nav-menu>li {
            clear: none;
            float: left;
            padding: 0 0 10px;
            margin: 40px 20px 30px;;
        }
}

@media screen and (max-width: 950px) {
    #nav-menu {
        clear: left;
        display: inline-block;
        padding-left: 20px;
        font-size: 18px;
    }

    #nav-menu>li {
        padding: 0;
    }


    #logo {
        margin-bottom: 0;
        padding-bottom: 0;
        font-size: 45px;
    }

    #hero-image {
        position: relative;
        padding-left: 180px;
    }

    .hero-box {
        position: absolute;
        top: -250px;
        left: auto;
    }

    #about-us h4 {
        margin-right: 60px;
    }

    .form-sec {
        background-position: right;
        margin: 0;
    }

    .sign-up {
        max-width: 200px;
        margin: 350px 50px;
    }
}

@media screen and (max-width: 700px) {
    #nav-menu>li {
        font-size: 14px;
        float: left;
    }
}

@media screen and (max-width: 500px) {
    #nav-menu {
        font-size: 12px;
        display: block;
        clear: left;
    }

    #nav-menu>li {
        padding: 10px;
        margin: 10px 10px 10px 20px;
        float: left;
        clear: left;
        font-size: 16px;
    }

    #logo {
        font-size: 35px;
    }

    .form-sec {
        background-position: right;
        padding-left: 20px;
        margin-top: 150px;
    }
}

@media screen and (max-width: 300px) {
    #logo {
        font-size: 28px;
    }
}

